{% extends "ChronosChronoAdminBundle::layout.html.twig" %}

{% block content_title %}Chrono Edit{% endblock %}

{% block sub_content %}

<form action="{{ path('chrono_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('chrono_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('chrono_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}