{% extends "ChronosChronoAdminBundle::layout.html.twig" %}

{% block content_title %}Chrono List{% endblock %}

{% block home_title %}Chrono List{% endblock %}

{% block sub_content %}

<a href="{{ path('chrono_new') }}" class="btn">
    <i class="icon-plus"></i>
    Create a new entry
</a>
<hr>
{% if entities is not empty %}
<table class="records_list table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Circuit</th>
        <th>Weather</th>
        <th>Time</th>
        <th>Bike</th>
        <th>Comment</th>
        <th>Date</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td><a href="{{ path('chrono_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.circuit }}</td>
        <td>{{ entity.weather }}</td>
        <td>{{ entity.time }}</td>
        <td>{{ entity.bike }}</td>
        <td>{{ entity.comment }}</td>
        <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif%}</td>
        <td>{{ entity.user }}</td>
        <td>
            <a rel="tooltip" title="Show entry" href="{{ path('chrono_show', { 'id': entity.id }) }}"><i class="icon-search"></i></a>
            <a rel="tooltip" title="Edit entry" href="{{ path('chrono_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include "ChronosChronoAdminBundle::pagination.html.twig" %}
{%else%}
<h2>Oops, their is nothing here ! Please add some chronos.</h2>
{%endif%}
{% endblock %}
