<!DOCTYPE html>
<html>
<head>
    <title>{% block content_title '' %} | Chronos</title>

    {% block stylesheets %}
    {% stylesheets
                    'bundles/chronoschronoadmin/css/third-party/normalize.css'
                    'bundles/chronoschronoadmin/css/third-party/bootstrap.min.css'
                    'bundles/chronoschronoadmin/css/style.css'
                    'bundles/chronoschronoadmin/css/third-party/bootstrap-responsive.min.css'
                    'bundles/chronoschronoadmin/css/librariesOverrides.css'
                    'bundles/chronoschronoadmin/css/third-party/jquery-ui.css'
                    'bundles/chronoschronoadmin/css/third-party/jquery.ui.ie.css'
                    output='css/chrono.css'
                    filter='cssrewrite'
                    combine=true
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
    {% endblock %}

    {% block head_javascripts %}
    <!--[if lte IE 8]>
    <script type="text/javascript" src="{{ asset('bundles/chronoschronoadmin/js/third-party/html5-ie.js') }}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/chronoschronoadmin/js/third-party/jquery-1.7.2.min.js') }}"></script>
    {% endblock %}
    {% block javascripts %}
    {% javascripts
                    'bundles/chronoschronoadmin/js/third-party/jquery-ui-1.8.20.min.js'
                    'bundles/chronoschronoadmin/js/third-party/bootstrap.min.js'
                    'bundles/chronoschronoadmin/js/main.js'
                    output='js/chrono.js'
                    combine=true
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
</head>
<body>

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="#" class="brand">Chronos</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="{{ path('usr_chrono') }}">
                            Circuits français
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('usr_chrono_other') }}">
                            Circuits étrangers
                        </a>
                    </li>
                </ul>
                <p class="navbar-text pull-right"><a href="{{ path('homepage') }}">Administration</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>{% block home_title 'Home' %}</h1>
    </div>
    {% block sub_content %}{% endblock %}
    <hr />
    <footer>
        <p>&copy; {{ 'now'|date("Y") }} - Guimove</p>
    </footer>
</div>
{% endblock %}
</body>
</html>