{% extends "ChronosChronoUserBundle::layout.html.twig" %}

{% block content_title %}Chrono List{% endblock %}

{% block home_title %}Chrono List{% endblock %}

{% block sub_content %}
{% if entities is not empty %}
        {% set prev_circuit = '' %}
        {% for entity in entities %}
            {% if entity.circuit == prev_circuit%}
                <tr>
                    <td>{{ entity.weather }}</td>
                    <td>{{ entity.time }}</td>
                    <td>{{ entity.bike }}</td>
                    <td>{{ entity.comment }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif%}</td>
                    <td>{{ entity.user }}</td>
                    <td>
                        <a rel="tooltip" title="Show entry" href="{{ path('usr_chrono_show', { 'id': entity.id }) }}"><i class="icon-search"></i></a>
                    </td>
                </tr>

                {% set prev_circuit = entity.circuit %}
            {% else %}
                    </tbody>
                </table>
                <div class="page-header">
                    <h1>{{ entity.circuit }}</h1>
                </div>
                <table class="records_list table table-striped">
                    <thead>
                    <tr>
                        <th>Weather</th>
                        <th>Time</th>
                        <th>Bike</th>
                        <th>Comment</th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ entity.weather }}</td>
                        <td>{{ entity.time }}</td>
                        <td>{{ entity.bike }}</td>
                        <td>{{ entity.comment }}</td>
                        <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif%}</td>
                        <td>{{ entity.user }}</td>
                        <td>
                            <a rel="tooltip" title="Show entry" href="{{ path('usr_chrono_show', { 'id': entity.id }) }}"><i class="icon-search"></i></a>
                        </td>
                    </tr>
                    {% set prev_circuit = entity.circuit %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{%else%}
    <h2>Il n'y a actuellement pas de chronos enregistrés, soyez patient.</h2>
{%endif%}
{% endblock %}
